{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>

    <form action="/enter" method="POST">
    Username: <input type="text" name="username" {{username}}><span class="error">{{u_error}}</span><br>
    Password: </label><input type="password" name="password"><span class="error">{{p_error}}</span><br>
    Verify Password: </label><input type="password" name="verify"><span class="error">{{v_error}}</span><br>
    Email (Optional): </label><input type="text" name="email" {{email}}><span class="error">{{e_error}}</span><br>

    <input type="submit" value="Submit Query"/>
    </form>
{% endblock %}